.app-header .container {
    width: 100%;
    background-color: #1F2D3D;
    padding-right: 0;
    font-family: 'Averta Light';
}

.app-header .navbar-header {
    border-right: 1px solid #3C4858;
    padding: 22px 35px;
    padding-bottom: 0px;
}

.navbar {
    border-radius: 0;
    border: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 999999;
    font-size: 14px;
    width: 100%;
}

.navbar-nav > li  {
    border-left: 1px solid #3C4858;
}

.navbar-nav > li:first-child, .navbar-nav > li:last-child {
    border: none;
}
    
.navbar-brand {
    background-image: url(/public/images/logo.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 125px;
    background-size: 100%;
}

.app-header .navbar-default .navbar-nav > li > a {
    color: #C0CCDA;
    padding: 28px 36px;
    line-height: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.app-header .navbar-default .navbar-nav > li.link-help > a {
    padding-top: 15px;
    div {
        font-size: 10px;
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #C0CCDA;
    background-color: #273444;
}

.app-header .navbar-default .navbar-nav > .link-business > a {
    color: #F07E0C;
    font-family: 'Averta Bold';
}

.app-header .navbar-default .navbar-nav > .link-signin > a, .app-header .navbar-default .navbar-nav > .link-register > a {
    color: #F9FAFC;
    font-family: 'Averta Bold';
}

.link-signin {
    background-color: #3C4858;
}

.link-register {
    background-color: #265EFF;
}

.app-header .navbar-default .navbar-nav > li.link-register > a {
    padding: 28px 39px;
}

.btn-register {
    background-color: #265EFF;
    color: #F9FAFC;
    border: none;
    text-transform: uppercase;
    padding: 10px 35px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
