.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 566px;
  background-color: #3C4858;
  color: #FFF;
  padding-top: 60px;
  font-family: 'Averta Light';
}

.footer-content {
    padding: 0 80px 50px 0;
}

.footer-content h4 {
    margin-bottom: 20px;
}

.footer-content p {
    line-height: 2;
    color: #8492A6;
}

.footer .underline {
    border-bottom: 1px solid #8492A6;
    margin-bottom: 50px;
}

.footer h5 {
    margin-bottom: 20px;
    color: #E0E6ED;
}

.footer address {
    color: #8492A6;
}

.footer .list-unstyled {
    line-height: 2.5;
    color: #8492A6;
}

.footer-highlight {
    color: #E0E6ED;
}

.footer-logo-full {
    background-image: url(/public/images/footer-logo-full.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 150px;
}

.dark-footer {
    margin-top: 20px;
    background-color: #273444;
    height: 60px;
}

.dark-footer .list-unstyled > li {
    display: inline-block;
    padding: 12px  15px 0 15px;
}

.dark-footer .list-unstyled > li > a {
    color: #8492A6;
    text-decoration: none;
}

.footer-logo {
    background-image: url(/public/images/footer-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
}